<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name = "CrossBrowserTestSuite">
<listeners>
<listener class-name = "com.nopCommerceV3.utilities.Reporting" >
</listener>
</listeners>

<test name="TC_LoginDataTest">
<parameter name="browser" value="Chrome"></parameter>

<classes>
<class name ="com.nopCommerceV3.testCases.TC_LoginTest"/>
<class name ="com.nopCommerceV3.testCases.AddNewCustomer" />

</classes>

</test>
</suite>